
@model AlwaysMoveForward.OAuth.Common.DomainModel.AMFUserLogin
@using AlwaysMoveForward.OAuth.Common.DomainModel;
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section headerPlugins
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#saveButton").click(function () {
                $("#saveForm").submit();
            });
        });
    </script>
}
<div>
    @if (Model != null)
    {
        <form id="saveForm" action="/Admin/ManageUsers/Save" method="post">
            <input type="hidden" name="id" id="id" value="@Model.Id"/>
            <div>
                <span class="label">Email:</span>
                <input type="text" readonly id='email' name="email" value="@Model.Email" />
            </div>
            <div>
                <span class="label">First Name:</span>
                <input type="text" id='firstName' name="firstName" value="@Model.FirstName" />
            </div>
            <div>
                <span class="label">Last Name:</span>
                <input type="text" id='lastName' name="lastName" value="@Model.LastName" />
            </div>
            <div>
                <span class="label">Status:</span>
                <select name="userStatus" id="userStatus">
                    <option value="@UserStatus.Blocked" @if (@Model.UserStatus == UserStatus.Blocked)
                                                               { <text> selected </text> }>Blocked</option>
                    <option value="@UserStatus.Active" @if (@Model.UserStatus == UserStatus.Active)
                                                       { <text> selected </text>  }>Active</option>
                    <option value="@UserStatus.Locked" @if (@Model.UserStatus == UserStatus.Locked)
                                                              { <text> selected </text>  }>Locked</option>
                </select>
            </div>
            <div>
                <span class="label">Role:</span>
                <select name="role" id="role">
                    <option value="@OAuthRoles.User" @if (@Model.Role == OAuthRoles.User) { <text> selected </text>    }>User</option>
                    <option value="@OAuthRoles.Administrator" @if (@Model.Role == OAuthRoles.Administrator)
                                                             { <text> selected </text>     }>Administrator</option>
                </select>
            </div>

            <br />
            <button type="button" id="saveButton" class="btn btn-primary">Save</button>
        </form>
    }
    else
    {
        <h1>Consumer not found</h1>
    }
</div>
