
@{
    ViewBag.Title = "Index";
    ViewBag.SelectedTab = 2;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="bodyContent">
    <div class="contentPageTitle">
        <label>Manage Users</label>
    </div>
    <a href="/Admin/ManageUsers/Edit">Add User</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="20%">User</th>
                <th width="20%">First Name</th>
                <th width="20%">Last Name</th>
                <th width="20%">Status</th>
                <th width="20%">Role</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (AlwaysMoveForward.OAuth.Common.DomainModel.AMFUserLogin user in @Model)
                {
                    <tr>
                        <td><a href="/Admin/ManageUsers/Edit/@user.Id.ToString()">@user.Email</a></td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.UserStatus</td>
                        <td>@user.Role</td>
                        <td>
                            <button type="button" class="btn-sm btn-primary"><a href="/Admin/ManageUsers/LoginHistory?userName=@user.Email">History</a></button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <a href="/Admin/ManageUsers/Edit">Add User</a>
</div>

