@model AlwaysMoveForward.OAuth.Web.Areas.Admin.Models.LoginHistoryModel
@{
    ViewBag.Title = "Index";
    ViewBag.SelectedTab = 3;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section headerPlugins
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#searchFormSubmitButton").click(function () {
                $("#searchForm").submit();
            });
        });
    </script>
}
<div class="bodyContent">
    <div>
        <form id="searchForm" action="/Admin/ManageUsers/LoginHistory">
            <span class="label">Search for:</span>
            <input type="text" name="userName" id="userName" value="@Model.UserName"/>
            <button type="button" id="searchFormSubmitButton" class="btn-sm btn-primary">Search</button>
        </form>
    </div>
    <div class="panel panel-primary">
        <div class="panel-header">Login History for @Model.UserName</div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="20%">Date</th>
                        <th width="20%">Source</th>
                        <th width="20%">Successfull</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (AlwaysMoveForward.OAuth.Common.DomainModel.LoginAttempt loginAttempt in @Model.LoginHistory)
                        {
                            <tr>
                                <td>@loginAttempt.AttemptDate</td>
                                <td>@loginAttempt.Source</td>
                                <td>@loginAttempt.WasSuccessfull</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


