@model Newhl.MainSite.Web.Models.ConfirmPaymentModel
@using Newhl.MainSite.Common.DomainModel
@{
    ViewBag.Title = "Payment Management";
}
@section headerPlugins
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#saveButton").click(function () {
                $("#saveForm").submit();
            });

            $("#confirmPaymentButton").click(function () {
                alert("Thank you for your payment. Payment and program registration details can be reviewed at any time. You may continue using the NEWHL website or close out if you are done.");
                $("#confirmPaymentForm").submit();
            });

            $("#redoPaymentButton").click(function() {
                $("#redoPaymentForm").submit();
            });
        });
    </script>
}
<section class="main__middle__container">
    <div class="container recent-posts">
        <div class="form-group ">            
            <div class="row">
                <h5><strong>Please review payment details below, then Confirm.</strong></h5>
                <hr />
                <p><strong>Payment Amount:</strong> @Model.PaymentDetails.Amount</p>
                <p><strong>Payment Method:</strong> @Model.PaymentDetails.PaymentMethod</p>
            </div>
            <div class="row">

                @switch (Model.PaymentDetails.PaymentMethod)
                {
                    case PaymentMethods.Check:
                        <text><br /><strong>Check Number:</strong> @Model.PaymentDetails.AdditionalDetails</text>
                        break;
                    case PaymentMethods.Paypal:
                        <text><br>
                            <p>Use the button below to complete payment via PayPal now.</p>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                                <input type="hidden" name="cmd" value="_xclick">
                                <input type="hidden" name="business" value="Kerri@KerriMacaluso.com">
                                <input type="hidden" name="item_name" value="NEWHL Registration">
                                <input type="hidden" name="amount" value="@Model.PaymentDetails.Amount">
                                <input type="hidden" name="currency_code" value="USD">
                                <input type="hidden" name="button_subtype" value="products">
                                <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            </form>
                            <!-- PAYPAL CODE TO USE FOR Sandbox IS AT BOTTOM OF PAGE -->
                        </text>
                        break;
                }
            </div> <!--end row-->
        </div> <!-- end form group -->
        <div class="dc_clear"></div>
        <div class="form-group ">

            @if (Model.PaymentDetails.PaymentMethod != PaymentMethods.Paypal)
            {
                <p>Does everything look correct about this payment? Or would you like to Cancel this, go back and set your payment up differently?<br /> Please Note: Program registrations <strong>can not be removed</strong> once payment information has been confirmed.</p>
                <span>
                    <button type="button" id="redoPaymentButton" class="btn btn-primary">Cancel</button>
                    <button type="button" id="confirmPaymentButton" class="btn btn-primary">Confirm</button>
                </span>
            }
            <!-- include complete payment button -->
            <form id="redoPaymentForm" action="/Payments/CancelPromise" method="POST">
                <input type="hidden" id="paymentId" name="paymentId" value="@Model.PaymentDetails.Id" />
                <input type="hidden" id="playerSeasonId" name="playerSeasonId" value="@Model.PlayerSeason.Id" />
            </form>
            <form id="confirmPaymentForm" action="/Payments/ConfirmPromise" method="POST">
                <input type="hidden" id="paymentId" name="paymentId" value="@Model.PaymentDetails.Id" />
                <input type="hidden" id="playerSeasonId" name="playerSeasonId" value="@Model.PlayerSeason.Id" />
            </form>
        </div>
    </div>
    <div class="dc_clear"></div>
</section>

<!-- PAYPAL CODE TO USE FOR SANDBOX --
                            <form id="payPalSubmitForm" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="UZGLB2MGXZ538">
                                <input type="hidden" name="item_name" value="Newhl Registration">
                                <input type="hidden" id="amount" name="amount" value="@Model.PaymentDetails.Amount">
                                <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            </form>
-->




