@model Newhl.MainSite.Web.Models.ManagePaymentsModel
@using Newhl.MainSite.Common.DomainModel
@{
    ViewBag.Title = "Payment Management";
}
@section headerPlugins
{
    <script src="/Scripts/Controllers/PaymentController.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#enterPaymentButton").click(function () {
                $("#makePaymentForm").submit();
            });
        });

        function calculateAmountToPay(percentage) {
            var amountOwed = jQuery("#totalCost").val();
            var amountToPay = amountOwed * (percentage / 100);
            jQuery("#paymentAmount").val(amountToPay);

        }

        // This is stupid but for some reason the ng-change isn't working ont his select box, so for now
        // route the angular call via a click on a hidden button.
        function manuallyFireAngularRefresh() {
            jQuery("#refreshButton").click();
        };
    </script>
}
<section class="main__middle__container" ng-controller="PaymentController">
    <div class="container">
        <div id="ctlx2" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Manage your payments</h3>
            </div>
            <div class="panel-body">
                @if (Model.SelectedSeason != null)
                {
                    <select id="selectedSeason" name="selectedSeason" onchange="javascript:manuallyFireAngularRefresh();">
                        @foreach (PlayerSeason season in Model.PlayerSeasons)
                        {
                            <option id="@season.Id" name="@season.Id" value="@season.Id" @if (season.Id == Model.SelectedSeason.Id) { <text> selected </text>  }>@Model.PlayerSeasonDetails[season.Id].Name</option>
                        }
                    </select>
                    <div>
                        <div>
                            Total Cost: {{ seasonPaymentDetails.TotalCost }}
                            <input type="hidden" id="totalCost" value="{{ seasonPaymentDetails.TotalCost }}"/>
                        </div>
                        <div>Amound Paid: {{ amountPaid}}</div>
                        <div>Amount Due: {{ seasonPaymentDetails.TotalCost - amountPaid}}</div>
                    </div>
                    <button style="display:none" id="refreshButton" value="Refresh" ng-click="getSeasonPaymentDetails();" >Refresh</button>
                }

                <div class="row">
                    <section class="col-md-8 main-content">
                        <p id="feedback"></p>
                        <div ng-init="getSeasonPaymentDetails();">
                            <form role="form" id="makePaymentForm" name="regProgramForm" method="post" action="/Payments/Confirm" class="regProgramForm">
                                <input type="hidden" name="playerSeasonId" value=" {{ seasonPaymentDetails.PlayerSeasonId }}"/>
    
                                <br />
                                <div class="form-group ">
                                    <p><strong>Select your payment portion:</ br></strong></p>
                                    <div class="one_fourth">
                                        <label for="paymentPortion">50 Percent</label>
                                        <input type="radio" name="paymentPortion" value="@PaymentPortions.Percentage_50" onclick="javascript:calculateAmountToPay(50);">
                                        <br>
                                    </div>
                                    <div class="one_fourth">
                                        <label for="paymentPortion">100 Percent</label>
                                        <input type="radio" name="paymentPortion" value="@PaymentPortions.Percentage_100" onclick="javascript:calculateAmountToPay(100);">
                                        <br>
                                    </div>
                                    <div class="one_fourth">
                                        <label for="paymentPortion">Other</label>
                                        <input type="radio" name="paymentPortion" value="@PaymentPortions.Other">
                                        <br>
                                        <label for="Other">Payment Amount:</label>
                                        <input required type="text" class="form-control" id="paymentAmount" name="paymentAmount" value="">
                                    </div>
                                    <div class="one_fourth">

                                    </div>
                                </div> <!--end form group-->
                                <div class="dc_clear"></div>
                                <p>
                                    Enter payment type:
                                </p>
                                <div class="form-group">
                                    <div class="one_fourth">
                                        <label for="paymentMethod">Cash</label>
                                        <input type="radio" name="paymentMethod" id="paymentMethod" value="@PaymentMethods.Cash">
                                        <br>
                                    </div>
                                    <div class="one_fourth">
                                        <label for="paymentMethod">Check</label>
                                        <input type="radio" name="paymentMethod" id="paymentMethod" value="@PaymentMethods.Check">
                                        <br>
                                        <label for="check">Check Number:</label>
                                        <input type="number" class="form-control" id="checkNumber" name="checkNumber" value="@ViewBag.CheckNumber">
                                    </div>
                                    <div class="one_fourth">
                                        <label for="paymentMethod">Paypal</label>
                                        <input type="radio" name="paymentMethod" id="paymentMethod" value="@PaymentMethods.Paypal">
                                        <br>
                                    </div>
                                    <div class="one_fourth column-last">

                                    </div>

                                    <!--Enter Check number or select PayPal option-->

                                </div>
                                <div class="dc_clear"></div>

                                <p><button type="button" id="enterPaymentButton" class="btn btn-primary" ng-disabled="amountPaid > seasonPaymentDetails.TotalCost">Enter Payment</button></p>
                                <!-- include complete payment button -->
                            </form>
                        </div>
                    </section>
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Date Submitted</th>
                                    <th>Amount</th>
                                    <th>Date Verified</th>
                                    <th>Payment Method</th>
                                    <th>Additional Details</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="seasonPayment in seasonPaymentDetails.Payments">
                                <tr>
                                    <td>{{ seasonPayment.DateSubmitted }}</td>
                                    <td>{{ seasonPayment.Amount }}</td>
                                    <td>{{ seasonPayment.DateVerified }}</td>
                                    <td>{{ seasonPayment.PaymentMethod }}</td>
                                    <td>{{ seasonPayment.AdditionalDetails }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

