@model Newhl.MainSite.Common.DomainModel.AMFUserLogin
@{
    ViewBag.Title = "New England Womens Hockey League";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headerPlugins
{

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    <script type="text/javascript">
        function handleUpdateButton() {
            var playerRegistrationForm = jQuery("#registerPlayerForm");
            playerRegistrationForm.attr('action', '/Programs/ConfirmRegistration?update=true'); //this fails silently
            playerRegistrationForm.submit();
        }
    </script>
}

<section class="main__middle__container">
    <div class="container">
        <div class="row">
            <section class="col-md-8 main-content">
                <p id="feedback"></p>
                <form role="form" id="registerPlayerForm" name="registerPlayerForm" method="post" action="/Programs/ConfirmRegistration" class="registerPlayerForm">
                    <div class="form-group ">
                        @{if ((ViewBag.exists != null) || (ViewData.ContainsKey("playerExists")))
                            {<p>
                            <strong>
                                There is a registration entered for a player with this email address. If you are updating your current registration,
                                please click the update registration button below, otherwise check spelling and re-enter email address and try again.
                            </strong>
                        </p>
                            <div class="dc_clear"></div>
                                <p>
                                    <input type="button" value="Update Registration" onclick="javascript:handleUpdateButton();"/> &nbsp;&nbsp;
                                </p>
                            }
                        }

                        @{ Html.ValidationMessage("exists");}
                        @{ Html.ValidationMessage("requested"); }
                        @{Html.ValidationMessage("FirstName"); }
                        @{Html.ValidationMessage("LastName"); }
                        @{Html.ValidationMessage("Email"); }
                        @{Html.ValidationMessage("confirm"); }
                        @{Html.ValidationMessage("Password"); }
                        @{Html.ValidationMessage("PwdConfirm"); }
                        @{Html.ValidationMessage("SiteName"); }
                        @{Html.ValidationMessage("Phone"); }

                        <!-- If there is an existing registration for this email address, then show button to go to update page?-->
                        <label for="first-name">First Name: *</label>
                        <input required type="text" class="form-control" id="firstname" name="firstname" value="@Model.FirstName">
                    </div>
                    <div class="form-group ">
                        <label for="last-name">Last Name: *</label>
                        <input required type="text" class="form-control" id="lastname" name="lastname" value="@Model.LastName">
                    </div>
                    <div class="form-group">
                        <label for="email1">Email: *</label>
                        <input required type="email" class="form-control" id="email" name="email" value="@Model.Email">
                    </div>
                    <div class="form-group">
                        <label for="email2">Confirm Email: *</label>
                        <input required type="email" class="form-control" id="confirm" name="confirm" value="">
                    </div>
                    <div class="form-group">
                        <p>If you do not have a USA Hockey confirmation number for the season which you are registering, <br />please visit the <a href="https://usahockeyregistration.com/login_input.action" target="_blank">USA Hockey website</a> to obtain the number to enter in the next field.<br /></p>
                        <label for="usaReg">USA Hockey Registration#: *</label>
                        <input required type="text" class="form-control" id="usaHockeyNum" name="usaHockeyNum" value="@Model.USAHockeyNum">
                    </div>
                    <div class="form-group">
                        <label for="dateOfBirth">Date of Birth: *</label>
                        <input required type="date" class="form-control" id="DOB" name="DOB" value="@Model.DOB" style="max-width:25%">
                    </div>
                    <div class="form-group">
                        <label for="address">Address: *</label>
                        <input required type="text" class="form-control" id="address1" name="address1" value="@Model.Address1">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="city">City: *</label>
                        <input required type="text" class="form-control" id="city" name="city" value="@Model.City">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="address">State: *</label>
                        <input required type="text" class="form-control" id="state" name="state" value="@Model.State">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="address">Zip: *</label>
                        <input required type="text" class="form-control" id="zipCode" name="zipCode" style="max-width:50%" value="@Model.ZipCode">
                    </div>
                    <div class="form-group col-md-6">
                        &nbsp;
                    </div>
                    <div class="dc_clear"></div>
                    <div class="form-group">
                        <label for="phone1">Primary Phone: *</label>
                        <input required type="text" class="form-control" id="phone1" name="phone1" value="@Model.Phone1">
                    </div>
                    <div class="form-group">
                        <label for="phone2">Secondary Phone: </label>
                        <input type="text" class="form-control" id="phone2" name="phone2" value="@Model.Phone2">
                    </div>
                    <div class="form-group">
                        <label for="contact1">Emergency Contact 1: (name and phone number) *</label>
                        <input required type="text" class="form-control" id="emergency1" name="emergency1" value="@Model.Emergency1">
                    </div>
                    <div class="form-group">
                        <label for="contact2">Emergency Contact 2: (name and phone number)*</label>
                        <input required type="text" class="form-control" id="emergency2" name="emergency2" value="@Model.Emergency2">
                    </div>
                    <div class="form-group ">
                        <label for="contact1">Years of Experience: *</label>
                        <input required type="number" class="form-control" id="yearsExp" name="yearsExp" style="max-width:10%" value="@Model.YearsExp">
                    </div>
                    <div class="form-group ">
                        <br /><br />
                        <p><strong>Select your level of experience:</ br></strong></p>
                        <div class="one_sixth">
                            <label for="Beginner">Beginner</label>
                            @{ if (Model.Level == Newhl.MainSite.Common.DomainModel.PlayerLevel.LearnToPlay)
                                {
                                    <input type="radio" name="Level" id="LTP" value="LTP" checked="checked">}
                                else
                                {<input type="radio" name="Level" id="LTP" value="LTP"> }
                            }<br>
                        </div>
                        <div class="one_sixth">
                            <label for="Rec">Rec</label>
                            @{ if (Model.Level == Newhl.MainSite.Common.DomainModel.PlayerLevel.Recreational)
                                {<input type="radio" name="Level" id="Rec" value="Rec" checked="checked">}
                                else
                                {<input type="radio" name="Level" id="Rec" value="Rec"> }
                            }<br>
                        </div>
                        <div class="one_sixth">
                            <label for="D">D</label>
                            @{ if (Model.Level == Newhl.MainSite.Common.DomainModel.PlayerLevel.D)
                                {<input type="radio" name="Level" id="D" value="D" checked="checked"> }
                                else
                                {<input type="radio" name="Level" id="D" value="D"> }
                            }<br>
                        </div>
                        <div class="one_sixth">
                            <label for="C">C</label>
                            @{ if (Model.Level == Newhl.MainSite.Common.DomainModel.PlayerLevel.C)
                                {<input type="radio" name="Level" id="C" value="C" checked="checked"> }
                                else
                                {<input type="radio" name="Level" id="C" value="C"> }
                            }<br>
                        </div>
                        <div class="one_sixth">
                            <label for="B">B</label>
                            @{ if (Model.Level == Newhl.MainSite.Common.DomainModel.PlayerLevel.D)
                                {<input type="radio" name="Level" id="B" value="B" checked="checked"> }
                                else
                                {<input type="radio" name="Level" id="B" value="B"> }
                            }<br>
                        </div>
                        <div class="one_sixth column-last">
                            <label for="A">A</label>
                            @{ if (Model.Level == Newhl.MainSite.Common.DomainModel.PlayerLevel.A)
                                {<input type="radio" name="Level" id="A" value="A" checked="checked"> }
                                else
                                {<input type="radio" name="Level" id="A" value="A"> }
                            }<br>
                        </div>
                    </div>
                    <div class="form-group">

                        <p><br /><br /><strong>How did you hear about NEWHL? <br /></strong></p>

                        <div class="one_sixth">
                            Internet Search:
                        </div>
                        <div class="one_sixth">
                            @{if (Model.Internet == "yes")
                                {<input type="checkbox" class="form-control" id="internet" name="internet" value="yes" checked="checked">}
                                else
                                {<input type="checkbox" class="form-control" id="internet" name="internet" value="yes" />}
                            }
                        </div>
                        <div class="one_sixth">
                            Referral / Word of Mouth:
                        </div>
                        <div class="one_sixth">
                            @{if (Model.Referral == "yes")
                                {<input type="checkbox" class="form-control" id="referral" name="referral" value="yes" checked="checked">}
                                else
                                {<input type="checkbox" class="form-control" id="referral" name="referral" value="yes">}
                            }
                        </div>
                        <div class="one_sixth">
                            Tournament:
                        </div>
                        <div class="one_sixth column-last">
                            @{if (Model.Tournament == "yes")
                                {<input type="checkbox" class="form-control" id="tournament" name="tournament" value="yes" checked="checked">}
                                else
                                {<input type="checkbox" class="form-control" id="tournament" name="tournament" value="yes">}
                            }
                        </div>
                        <br />
                    </div>
                    <div class="dc_clear"></div>
                    <div class="form-group">
                        <div class="one_sixth">
                            Other:
                        </div>
                        <div class="one_sixth">
                            @{ if (Model.Other == "yes")
                                {<input type="checkbox" class="form-control" id="other" name="other" value="yes" checked="checked">}
                                else
                                {<input type="checkbox" class="form-control" id="other" name="other" value="yes">}
                            }
                        </div>
                        <div class="one_sixth">
                            &nbsp;
                        </div>
                        <div class="one_sixth">
                            &nbsp;
                        </div>
                        <div class="one_sixth">
                            &nbsp;
                        </div>
                        <div class="one_sixth column-last">
                            &nbsp;
                        </div>
                    </div><!--end form group-->
                    <div class="dc_clear"></div>
                    <br />
                    <br />
                    <p><strong>Select the session(s) you are requesting to skate:<br /></strong></p>

                    <div class="one_third">
                        Learn To Play (Monday):
                    </div>
                    <div class="two_third column-last">
                        @{ if (Model.LTP == "yes")
                            {<input type="checkbox" class="form-control" id="LTP" name="LTP" value="yes" checked="checked" style="max-width:10%; float:left">}
                            else
                            {<input type="checkbox" class="form-control" id="LTP" name="LTP" value="yes" style="max-width:10%; float:left">}
                        }
                    </div>
                    <div class="dc_clear"></div>
                    <br />
                    <div class="one_third">
                        Rec Skills (Tuesday):
                    </div>
                    <div class="two_third column-last">
                        @{ if (Model.Tuesday == "yes")
                            {<input type="checkbox" class="form-control" id="Tuesday" name="Tuesday" value="yes" checked="checked" style="max-width:10%; float:left"> }
                            else
                            {<input type="checkbox" class="form-control" id="Tuesday" name="Tuesday" value="yes" style="max-width:10%; float:left"> }
                        }
                    </div>
                    <div class="dc_clear"></div>
                    <br />
                    <div class="one_third">
                        C/D Skills (Wednesday):
                    </div>
                    <div class="two_third column-last">
                        @{ if (Model.Wednesday == "yes")
                            {<input type="checkbox" class="form-control" id="Wednesday" name="Wednesday" value="yes" checked="checked" style="max-width:10%; float:left"> }
                            else
                            {<input type="checkbox" class="form-control" id="Wednesday" name="Wednesday" value="yes" style="max-width:10%; float:left"> }
                        }

                    </div>
                    <div class="dc_clear"></div>
                    <br />
                    <div class="one_third">
                        Stickhandling/Shooting (Thursday):
                    </div>
                    <div class="two_third column-last">
                        @{ if (Model.Stickhandling == "yes")
                            {<input type="checkbox" class="form-control" id="Stickhandling" name="Stickhandling" value="yes" checked="checked" style="max-width:10%; float:left"> }
                            else
                            {<input type="checkbox" class="form-control" id="Stickhandling" name="Stickhandling" value="yes" style="max-width:10%; float:left">}
                        }

                    </div>
                    <div class="dc_clear"></div>
                    <br />
                    <div class="one_third">
                        Somerville Evenings (Thursday):
                    </div>
                    <div class="two_third column-last">
                        @{ if (Model.Somerville == "yes")
                            { <input type="checkbox" class="form-control" id="Somerville" name="Somerville" value="yes" checked="checked" style="max-width:10%; float:left"> }
                            else
                            { <input type="checkbox" class="form-control" id="Somerville" name="Somerville" value="yes" style="max-width:10%; float:left"> }
                        }

                    </div>
                    <div class="dc_clear"></div>

                    <br />
                    <div class="one_third">
                        Games (Friday):
                    </div>
                    <div class="two_third column-last">
                        @{ if (Model.Games == "yes")
                            {<input type="checkbox" class="form-control" id="Games" name="Games" value="yes" checked="checked" style="max-width:10%; float:left"> }
                            else
                            {<input type="checkbox" class="form-control" id="Games" name="Games" value="yes" style="max-width:10%; float:left"> }
                        }

                    </div>
                    <div class="dc_clear"></div>
                    <input type="hidden" name="UserStatus" value="0" />
                    <input type="hidden" name="formAction" value="save" />
                    <p><input type="submit" value="Confirm Registration" /></p>
                </form> <!--end form-->
            </section>
        </div>
    </div>
</section>