@{
    ViewBag.Title = "New England Womens Hockey League";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headerPlugins
{

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.min.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
}

<section class="main__middle__container">
        <div class="container">
            <div class="row">
                <section class="col-md-8 main-content">
                    <p id="feedback"></p>
                    <form role="form" id="registerPlayerForm" name="registerPlayerForm" method="post" action="/Programs/RegisterPlayer" class="registerPlayerForm">
                        <div class="form-group ">
                            @{if ((ViewBag.exists != null) || (ViewData.ContainsKey("playerExists")))
                                {<p><strong>There is a registration entered for a player with this email address. If you are updating your current registration,
                                    please click the update registration button below, otherwise check spelling and re-enter email address and try again.</strong>
                                </p>
                                <div class="dc_clear"></div>
                                <p>
                                    <input type="hidden" name="formAction" value="confirm" />
                                    <input type="submit" value="Update Registration" formaction="ConfirmRegistration?paymentAmount=0"  /> &nbsp;&nbsp;
                                    <input type="submit" value="Try Again" formaction="RegisterPlayer" /> 
                                </p>
                                }
                            }

                            @{ Html.ValidationMessage("exists");}
                            @{ Html.ValidationMessage("requested"); }
                            @{Html.ValidationMessage("FirstName"); }
                            @{Html.ValidationMessage("LastName"); }
                            @{Html.ValidationMessage("Email"); }
                            @{Html.ValidationMessage("confirm"); }
                            @{Html.ValidationMessage("Password"); }
                            @{Html.ValidationMessage("PwdConfirm"); }
                            @{Html.ValidationMessage("SiteName"); }
                            @{Html.ValidationMessage("Phone"); }

                            <!-- If there is an existing registration for this email address, then show button to go to update page?-->
                            <label  for="first-name">First Name: *</label>
                            <input required type="text" class="form-control" id="firstname" name="firstname" value="@ViewBag.FirstName">
                        </div>
                        <div class="form-group ">
                            <label  for="last-name">Last Name: *</label>
                            <input required type="text" class="form-control" id="lastname" name="lastname" value="@ViewBag.LastName">
                        </div>
                        <div class="form-group">
                            <label  for="email1">Email: *</label>
                            <input required type="email" class="form-control" id="email" name="email" value="@ViewBag.Email">
                        </div>
                        <div class="form-group">
                            <label  for="email2">Confirm Email: *</label>
                            <input required type="email" class="form-control" id="confirm" name="confirm" value="@ViewBag.Confirm" >
                        </div>
                        <div class="form-group">
                            <p>If you do not have a USA Hockey confirmation number for the season which you are registering, <br />please visit the <a href="https://usahockeyregistration.com/login_input.action" target="_blank">USA Hockey website</a> to obtain the number to enter in the next field.<br /></p>
                            <label  for="usaReg">USA Hockey Registration#: *</label>
                            <input required type="text" class="form-control" id="usaHockeyNum" name="usaHockeyNum" value="@ViewBag.USAHockeyNum">
                        </div>
                        <div class="form-group">
                            <label  for="dateOfBirth">Date of Birth: *</label>
                            <input required type="date" class="form-control" id="DOB" name="DOB" value ="@ViewBag.DOB"style="max-width:25%">
                        </div>
                        <div class="form-group">
                            <label  for="address">Address: *</label>
                            <input required type="text" class="form-control" id="address1" name="address1" value="@ViewBag.Address1">
                        </div>
                        <div class="form-group col-md-6">
                            <label  for="city">City: *</label>
                            <input required type="text" class="form-control" id="city" name="city" value="@ViewBag.City">
                        </div>
                        <div class="form-group col-md-6">
                            <label  for="address">State: *</label>
                            <input required type="text" class="form-control" id="state" name="state" value="@ViewBag.State">
                        </div>
                        <div class="form-group col-md-6">
                            <label  for="address">Zip: *</label>
                            <input required type="text" class="form-control" id="zipCode" name="zipCode" style="max-width:50%" value="@ViewBag.ZipCode">
                        </div>
                        <div class="form-group col-md-6">
                            &nbsp;
                        </div>
                        <div class="dc_clear"></div>
                        <div class="form-group">
                            <label for="phone1">Primary Phone: *</label>
                            <input required type="text" class="form-control" id="phone1" name="phone1" value="@ViewBag.Phone1">
                        </div>
                        <div class="form-group">
                            <label  for="phone2">Secondary Phone: </label>
                            <input type="text" class="form-control" id="phone2" name="phone2" value="@ViewBag.Phone2">
                        </div>
                        <div class="form-group">
                            <label  for="contact1">Emergency Contact 1: (name and phone number) *</label>
                            <input required type="text" class="form-control" id="emergency1" name="emergency1" value="@ViewBag.Emergency1">
                        </div>
                        <div class="form-group">
                            <label for="contact2">Emergency Contact 2: (name and phone number)*</label>
                            <input required type="text" class="form-control" id="emergency2" name="emergency2" value="@ViewBag.Emergency2">
                        </div>
                        <div class="form-group ">
                            <label for="contact1">Years of Experience: *</label>
                            <input required type="number" class="form-control" id="yearsExp" name="yearsExp" style="max-width:10%" value="@ViewBag.YearsExp">
                        </div>
                        <div class="form-group ">
                            <br /><br />
                            <p><strong>Select your level of experience:</ br></strong></p>
                            <div class="one_sixth">
                                <label for="Beginner">Beginner</label>
                                @{ if (ViewBag.Level == "LTP") {
                                    <input type="radio" name="Level" id="LTP" value="LTP" checked="checked"  >}
                                    else
                                    {<input type="radio" name="Level" id="LTP" value="LTP"> }
                                }<br> 
                            </div>
                            <div class="one_sixth">
                                <label for="Rec">Rec</label>
                                @{ if (ViewBag.Level == "Rec")
                                    {<input type="radio" name="Level" id="Rec" value="Rec" checked="checked">}
                                    else
                                    {<input type="radio" name="Level" id="Rec" value="Rec"> }
                                }<br>
                            </div>
                            <div class="one_sixth">
                                <label for="D">D</label>
                                @{ if (ViewBag.Level == "D")
                                    {<input type="radio" name="Level" id="D" value="D" checked="checked"> }
                                    else
                                    {<input type="radio" name="Level" id="D" value="D"> }
                                }<br>                                
                            </div>
                            <div class="one_sixth">
                                <label for="C">C</label>
                                @{ if (ViewBag.Level == "C")
                                    {<input type="radio" name="Level" id="C" value="C" checked="checked"> }
                                    else
                                    {<input type="radio" name="Level" id="C" value="C"> }
                                }<br>
                            </div>
                            <div class="one_sixth">
                                <label for="B">B</label>
                                @{ if (ViewBag.Level == "B")
                                    {<input type="radio" name="Level" id="B" value="B" checked="checked"> }
                                    else
                                    {<input type="radio" name="Level" id="B" value="B"> }
                                }<br>                                
                            </div>
                            <div class="one_sixth column-last">
                                <label for="A">A</label>
                                @{ if (ViewBag.Level == "A")
                                    {<input type="radio" name="Level" id="A" value="A" checked="checked"> }
                                    else
                                    {<input type="radio" name="Level" id="A" value="A"> }
                                }<br>                                
                            </div>
                        </div>
                        <div class="form-group">
                            
                            <p><br /><br /><strong>How did you hear about NEWHL? <br /></strong></p>

                            <div class="one_sixth">
                                Internet Search:
                            </div>
                            <div class="one_sixth">
                                @{if (ViewBag.Internet == "yes")
                                    {<input type="checkbox" class="form-control" id="internet" name="internet" value="yes" checked="checked">}
                                    else
                                    {<input type="checkbox" class="form-control" id="internet" name="internet" value="yes" />}
                                }
                            </div>
                            <div class="one_sixth">
                                Referral / Word of Mouth:
                            </div>
                            <div class="one_sixth">
                                @{if (ViewBag.Referral == "yes")
                                    {<input type="checkbox" class="form-control" id="referral" name="referral" value="yes" checked="checked" >}
                                    else
                                    {<input type="checkbox" class="form-control" id="referral" name="referral" value="yes">}
                                }
                            </div>
                            <div class="one_sixth">
                                Tournament:
                            </div>
                            <div class="one_sixth column-last">
                            @{if (ViewBag.Tournament == "yes")
                                {<input type="checkbox" class="form-control" id="tournament" name="tournament" value="yes" checked="checked">}
                                else
                                {<input type="checkbox" class="form-control" id="tournament" name="tournament" value="yes">}
                            }
                            </div>
                            <br />
                        </div>
                        <div class="dc_clear"></div>
                        <div class="form-group">
                            <div class="one_sixth">
                                Other:
                            </div>
                            <div class="one_sixth">
                            @{ if (ViewBag.Other == "yes")
                                {<input type="checkbox" class="form-control" id="other" name="other" value="yes" checked="checked">}
                                else
                                {<input type="checkbox" class="form-control" id="other" name="other" value="yes">}
                            }
                            </div>
                            <div class="one_sixth">
                                &nbsp;
                            </div>
                            <div class="one_sixth">
                                &nbsp;
                            </div>
                               <div class="one_sixth">
                                &nbsp;
                            </div>
                            <div class="one_sixth column-last">
                                &nbsp;
                            </div>
                        </div><!--end form group-->
                        <div class="dc_clear"></div>
                        <br />
                        <br />
                        <p><strong>Select the session(s) you are requesting to skate:<br /></strong></p>
                        
                        <div class="one_third">
                            Learn To Play (Monday):
                        </div>
                        <div class="two_third column-last">
                            @{ if (ViewBag.LTP == "yes")
                                {<input type="checkbox" class="form-control" id="LTP" name="LTP" value="yes" checked="checked" style="max-width:10%; float:left">}
                                else
                                {<input type="checkbox" class="form-control" id="LTP" name="LTP" value="yes" style="max-width:10%; float:left">}
                            }                            
                        </div>
                        <div class="dc_clear"></div>
                        <br />
                        <div class="one_third">
                            Rec Skills (Tuesday):
                        </div>
                        <div class="two_third column-last">
                            @{ if (ViewBag.Tuesday == "yes")
                                {<input type="checkbox" class="form-control" id="Tuesday" name="Tuesday" value="yes" checked="checked" style="max-width:10%; float:left"> }
                                else
                                {<input type="checkbox" class="form-control" id="Tuesday" name="Tuesday" value="yes" style="max-width:10%; float:left"> }
                            }                            
                        </div>
                        <div class="dc_clear"></div>
                        <br />
                        <div class="one_third">
                            C/D Skills (Wednesday):
                        </div>
                        <div class="two_third column-last">
                            @{ if (ViewBag.Wednesday == "yes")
                                {<input type="checkbox" class="form-control" id="Wednesday" name="Wednesday" value="yes" checked="checked" style="max-width:10%; float:left"> }
                                else
                                {<input type="checkbox" class="form-control" id="Wednesday" name="Wednesday" value="yes" style="max-width:10%; float:left"> }
                            }
                            
                        </div>
                        <div class="dc_clear"></div>
                        <br />
                        <div class="one_third">
                            Stickhandling/Shooting (Thursday):
                        </div>
                         <div class="two_third column-last">
                             @{ if (ViewBag.Stickhandling == "yes")
                                 {<input type="checkbox" class="form-control" id="Stickhandling" name="Stickhandling" value="yes" checked="checked" style="max-width:10%; float:left"> }
                                 else
                                 {<input type="checkbox" class="form-control" id="Stickhandling" name="Stickhandling" value="yes" style="max-width:10%; float:left">}
                            }
                            
                        </div>
                        <div class="dc_clear"></div>
                        <br />
                        <div class="one_third">
                            Somerville Evenings (Thursday):
                        </div>
                        <div class="two_third column-last">
                            @{ if (ViewBag.Somerville == "yes")
                                { <input type="checkbox" class="form-control" id="Somerville" name="Somerville" value="yes" checked="checked" style="max-width:10%; float:left"> }
                                else
                                { <input type="checkbox" class="form-control" id="Somerville" name="Somerville" value="yes" style="max-width:10%; float:left"> }
                            }
                           
                        </div>
                        <div class="dc_clear"></div>

                        <br />
                        <div class="one_third">
                            Games (Friday):
                        </div>
                        <div class="two_third column-last">
                            @{ if (ViewBag.Games == "yes")
                                {<input type="checkbox" class="form-control" id="Games" name="Games" value="yes" checked="checked" style="max-width:10%; float:left"> }
                                else
                                {<input type="checkbox" class="form-control" id="Games" name="Games" value="yes" style="max-width:10%; float:left"> }
                            }
                            
                        </div>
                        <div class="dc_clear"></div>
                        <input type="hidden" name="UserStatus" value="0" />
                        <input type="hidden" name="formAction" value="save" />
                        <p><input type="submit" value="Confirm Registration" formaction="RegisterPlayer" /></p>
                    </form> <!--end form-->
                </section>
<!--
                <aside class="col-md-4">
                    <form role="form" id="regProgramForm" name="regProgramForm" method="post" action="" class="regProgramForm">
                        <div class="form-group">
                            Select session(s) you are requesting to skate:<br />
                            <div class="one_third">
                                Learn To Play (Monday):
                            </div>
                            <div class="two_third column-last">
                                <input type="checkbox" class="form-control" id="LTP" name="LTP" value="yes" style="max-width:10%; float:right" >
                            </div>
                            <div class="dc_clear"></div>
                        <br />
                            <div class="one_third">
                                Rec Skills (Tuesday):
                            </div>
                            <div class="two_third column-last">
                                <input type="checkbox" class="form-control" id="Tuesday" name="Tuesday" value="yes" style="max-width:10%; float:right">
                            </div>
                            <div class="dc_clear"></div>
                        <br />
                            <div class="one_third">
                                C/D Skills (Wednesday):
                            </div>
                            <div class="two_third column-last">
                                <input type="checkbox" class="form-control" id="Wednesday" name="Wednesday" value="yes" style="max-width:10%; float:right">
                            </div>
                            <div class="dc_clear"></div>
                        <br />                            
                            <div class="one_third">
                                Stickhandling/Shooting (Thursday):
                            </div>
                            <div class="two_third column-last">
                                <input type="checkbox" class="form-control" id="StickShoot" name="StickShoot" value="yes" style="max-width:10%; float:right">
                            </div>
                            <div class="dc_clear"></div>
                        <br />
                            <div class="one_third">
                                Games (Friday):
                            </div>
                            <div class="two_third column-last">
                                <input type="checkbox" class="form-control" id="FriGames" name="FriGames" value="yes" style="max-width:10%; float:right">
                            </div>
                            <div class="dc_clear"></div>
                        </div><!--end form group
                    </form>
                </aside>-->
            </div>
        </div>
    </section>

<!--                     
                        <form style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px" id="LoginRequest" method="post" action="/CQIC/NewCQICRegistration/">
                            <table class="tblFormat">
                                <tbody class="tblFormat">
                                    <tr>
                                        <td colspan="2" align="left" style="border:none"><strong>Contact Info: </strong></td>
                                    </tr>
                                    <tr>
                                        <td align="right" style="border:none">First Name:</td>
                                        <td align="left" style="border:none"><input id="FirstName" class="formtextbox" maxlength="50" size="30" name="FirstName" value="<%=ViewData[" FirstName"] %>"/></td>
                                    </tr>
                                    <tr>
                                        <td align="right" style="border:none">Last Name: </td>
                                        <td align="left" style="border:none"><input id="LastName" class="formtextbox" maxlength="50" size="30" name="LastName" value="<%=ViewData[" LastName"] %>"/> </td>
                                    </tr>
                                    <tr>
                                        <td align="right" style="border:none">Title: </td>
                                        <td align="left" style="border:none"><input id="Title" class="formtextbox" maxlength="100" size="30" name="Title" value="<%=ViewData[" Title"] %>"/> </td>
                                    </tr>
                                    <tr>
                                        <td align="right" style="border:none">Site Name: </td>
                                        <td align="left" style="border:none"><input id="SiteName" class="formtextbox" maxlength="100" size="30" name="SiteName" value="<%=ViewData[" SiteName"] %>"/> </td>
                                    </tr>
                                    <tr>
                                        <td align="right" style="border:none">E-Mail: </td>
                                        <td align="left" style="border:none"><input id="email" class="formtextbox" maxlength="100" size="30" name="email" value="<%=ViewData[" email"] %>"/> <br /></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><span style="font-size:smaller">Please use your enterprise email address. <br />Personal email addresses will not be activated. (i.e. yahoo, gmail, hotmail)</span></td>
                                    </tr>
                                    <tr>
                                        <td align="right" style="border:none">Confirm email: </td>
                                        <td align="left" style="border:none"><input id="confirm" class="formtextbox" maxlength="100" size="30" name="confirm" value="<%=ViewData[" confirm"] %>"/> </td>
                                    </tr>
                                    <tr>
                                        <td align="right" style="border:none">Password: </td>
                                        <td align="left" style="border:none"><input id="Password" type="password" class="formtextbox" maxlength="30" size="30" name="Password" value="<%=ViewData[" Password"] %>"/> </td>
                                    </tr>
                                    <tr>
                                        <td align="right" style="border:none">Confirm password: </td>
                                        <td align="left" style="border:none"><input id="ConfirmPwd" type="password" class="formtextbox" maxlength="30" size="30" name="PwdConfirm" value="<%=ViewData[" ConfirmPwd"] %>"/> </td>
                                    </tr>
                                    <tr>
                                        <td align="right" style="border:none">Phone: </td>
                                        <td align="left" style="border:none"><input id="Phone" class="formtextbox" maxlength="30" size="30" name="Phone" value="<%=ViewData[" Phone"] %>"/> <span style="font-size:smaller">i.e. 999-999-999</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="left" style="border:none"><strong>Mailing Address:</strong> </td>
                                    </tr>
                                    <tr>
                                        <td align="right" style="border:none">Address 1: </td>
                                        <td align="left" style="border:none"><input id="Address1" class="formtextbox" maxlength="100" size="30" name="Address1" value="<%=ViewData[" Address1"] %>"/> </td>
                                    </tr>
                                    <tr>
                                        <td align="right" style="border:none">Address 2: </td>
                                        <td align="left" style="border:none"><input id="Address2" class="formtextbox" maxlength="100" size="30" name="Address2" value="<%=ViewData[" Address2"] %>"/> </td>
                                    </tr>
                                    <tr>
                                        <td align="right" style="border:none">City: </td>
                                        <td align="left" style="border:none"><input id="City" class="formtextbox" maxlength="50" size="30" name="City" value="<%=ViewData[" City"] %>"/> </td>
                                    </tr>
                                    <tr>
                                        <td align="right" style="border:none">State: </td>
                                        <td align="left" style="border:none"><input id="State" class="formtextbox" maxlength="10" size="30" name="State" value="<%=ViewData[" State"] %>"/> </td>
                                    </tr>
                                    <tr>
                                        <td align="right" style="border:none">Zip Code: </td>
                                        <td align="left" style="border:none"><input id="ZipCode" class="formtextbox" maxlength="10" size="30" name="ZipCode" value="<%=ViewData[" ZipCode"] %>"/> </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="validation" style="border:none">
                                            <input type="hidden" name="formAction" value="save" />
                                            <%if (ViewData.ContainsKey("emailSent"))Response.Write("Your request has been sent."); %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right" style="border:none"></td>
                                        <td align="left" style="border:none">
                                            <p align="left"><input value="Submit" type="submit" /></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="validation" style="border:none">
                                            <%=Html.ValidationMessage("exists")%> <br />
                                            <%=Html.ValidationMessage("requested")%> <br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="validation" style="border:none">
                                            <%if (ViewData.ModelState.ContainsKey("exists"))
                                            Response.Write("If you have already registered and been given access to the CQIC or CCC content, please <a href='/user/logon'>Login</a><br /><br />");%>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="validation" style="border:none">
                                            <%=Html.ValidationMessage("FirstName") %> &nbsp;<br />
                                            <%=Html.ValidationMessage("LastName") %> &nbsp; <br />
                                            <%=Html.ValidationMessage("Email")  %>&nbsp;<br />
                                            <%=Html.ValidationMessage("confirm") %>&nbsp;<br />
                                            <%=Html.ValidationMessage("Password") %>&nbsp;<br />
                                            <%=Html.ValidationMessage("PwdConfirm")  %>&nbsp;<br />
                                            <%=Html.ValidationMessage("SiteName") %>&nbsp;<br />
                                            <%=Html.ValidationMessage("Phone")  %>  &nbsp;<br />
                                            <br />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
-->  