
@{
    ViewBag.Title = "Manage Consumers";
    ViewBag.SelectedTab = 1;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="bodyContent">
    <div class="contentPageTitle">
        <H1>Manage Consumers</H1>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="20%">Consumer Key</th>
                <th width="20%">Name</th>
                <th width="20%">Contact Email</th>
                <th width="20%">Allow AutoGrant</th>
                <th width="20%">Token Lifetime</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (AlwaysMoveForward.OAuth.Common.DomainModel.Consumer oauthConsumer in @Model)
                {
                    <tr>
                        <td><a href="/Admin/ManageConsumers/Edit/@oauthConsumer.ConsumerKey.ToString()">@oauthConsumer.ConsumerKey</a></td>
                        <td>@oauthConsumer.Name</td>
                        <td>@oauthConsumer.ContactEmail</td>
                        <td>@oauthConsumer.AutoGrant</td>
                        <td>@oauthConsumer.AccessTokenLifetime</td>
                        <td><a href="/Admin/ManageTokens/Index?consumerKey=@oauthConsumer.ConsumerKey.ToString()">Tokens</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

