@model AlwaysMoveForward.OAuth.Web.Areas.Admin.Models.OAuthTokensModel
@{
    ViewBag.Title = "OAuth Tokens";
    ViewBag.SelectedTab = 4;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section headerPlugins
{
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#searchFormSubmitButton").click(function () {
                $("#searchForm").submit();
            });
        });
        $(function () {
            $('.datepicker').datepicker({
                format: 'mm-dd-yyyy'
            });
        });
    </script>
}
<div class="bodyContent">
    <div>
        <form id="searchForm" action="/Admin/ManageTokens/Index">
            <span class="label">Search for:</span>
            
            <div>
                <span class="label">Username</span>
                <input type="text" name="userName" id="userName" value="@Model.UserName" />
            </div> 
            <div>
                <span class="label">Consumer Key</span>
                <input type="text" name="consumerKey" id="consumerKey" value="@Model.ConsumerKey" />
            </div>
            <div>
                <span class="label">Start Date</span>
                <input type="text" class="datepicker" name="startDate" value="@Model.StartDate"/>
            </div>
            <div>
                <span class="label">End Date</span>
                <input type="text" class="datepicker" name="endDate" value="@Model.EndDate"/>
            </div>
            <button type="button" id="searchFormSubmitButton" class="btn-sm btn-primary">Search</button>
        </form>
    </div>
    <div class="panel panel-primary">
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Consumer</th>
                        <th>Request Token</th>
                        <th>Realm</th>
                        <th>Request Token Created</th>
                        <th>Request Token State</th>
                        <th>Request Token Authorization</th>
                        <th>Access Token</th>
                        <th>Access Token Grant</th>
                        <th>Access Token Expiration</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (AlwaysMoveForward.OAuth.Common.DomainModel.RequestToken requestToken in @Model.Tokens)
                        {
                            <tr>
                                <td>@requestToken.ConsumerKey</td>
                                <td>@requestToken.Token</td>
                                <td>@requestToken.Realm.ToString()</td>
                                <td>@requestToken.DateCreated</td>
                                <td>@requestToken.State</td>

                                @if(requestToken.DateAuthorized != null)
                                {
                                    <td>@requestToken.DateAuthorized</td>
                                }
                                else
                                {
                                    <td>&nbsp;</td>
                                }

                                @if(requestToken.AccessToken != null)
                                {
                                    <td>@requestToken.AccessToken.Token</td>
                                    <td>@requestToken.AccessToken.DateGranted</td>
                                    <td>@requestToken.AccessToken.ExpirationDate</td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


