
@{
    ViewBag.Title = "_AdminLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headerPlugins
{
    @RenderSection("headerPlugins", false)
}
<div class="adminPage">
    <div class="adminHeader">
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <span class="navbar-brand">Management Tool</span>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li @if (@ViewBag.SelectedTab == 0) { <text> class='active' </text>     }>
                            <a href="/Admin/Management/Index">Home</a>
                        </li>
                        <li @if (@ViewBag.SelectedTab == 1) { <text> class='active' </text>      }>
                            <a href="/Admin/ManageConsumers/Index">Consumers</a>
                        </li>
                        <li @if (@ViewBag.SelectedTab == 4) { <text> class='active' </text>       }>
                            <a href="/Admin/ManageTokens/Index">OAuth Tokens</a>
                        </li>
                        <li @if (@ViewBag.SelectedTab == 2) { <text> class='active' </text>    }>
                            <a href="/Admin/ManageUsers/Index">Users</a>
                        </li>
                        <li @if (@ViewBag.SelectedTab == 3) { <text> class='active' </text>     }>
                            <a href="/Admin/ManageUsers/LoginHistory">Login History</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="adminContent">
        @RenderBody()
    </div>
</div>

