@model AlwaysMoveForward.OAuth.Common.DomainModel.AMFUserLogin
@{
    ViewBag.Title = "User Management";
}
@section headerPlugins
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#saveButton").click(function () {
                $("#saveForm").submit();
            });
        });
    </script>
}
<div class="messaging-container">
    <div id="ctlx2" class="panel panel-primary loginPanel">
        <div class="panel-heading">
            <h3 class="panel-title">Welcome @this.Context.User.Identity.Name)</h3>
        </div>
        <div class="panel-body">
            <form id="saveForm" action="/User/Edit/@Model.Id" method="post">
                <input type="hidden" name="id" id="id" value="@Model.Id" />
                <div>
                    <span class="label">Email:</span>
                    <input type="text" readonly id='userEmail' name="userEmail" value="@Model.Email" />
                </div>
                <div>
                    <span class="label">First Name:</span>
                    <input type="text" id='firstName' name="firstName" value="@Model.FirstName" />
                </div>
                <div>
                    <span class="label">Last Name:</span>
                    <input type="text" id='lastName' name="lastName" value="@Model.LastName" />
                </div>
                <div>
                    <span class="label">Password:</span>
                    <input type="password" id='password' name="password" />
                </div>
                <br />
                <button type="button" id="saveButton" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>


